.bottle{
    height: 90vh;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    background-image: linear-gradient(to bottom,white, #41b9ff)

}

.bottle__position{
    display: none;
    cursor: pointer;
    position: absolute;
    height:80vh;
    right: 5vw;
    @include desktop{
        display: block;
    }
}

.bottle__position--left{
    right: 70vw;
}

.bottle__image{
   height: 93.75%; 
   width: auto;
}

.bottle__image:hover{
    @include startJiggle;
}





.bottle__adjectives{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 9vw;
    font-family: KeepOn;
    color: $textcolor;
    height: 100%;

    @include desktop{
        align-items: flex-start;
        font-size: 4vw;
        width: 40vw;
    }
}

.bottle__adjective{
    @include startJiggle;

    @include desktop{
        animation: none;
    }
}

.bottle__adjective--middle{
    align-self: flex-end;
}
.bottle__letter{
    @include desktop{
        opacity: 0;
    }
}