.pub{
    grid-area: pub;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;   

}

.pub__title{
    padding: 5%; 

    text-align: center;
    @include styleTitle;
}

.pub__video{

    @include desktop{
        flex-basis: 60%;
        width: 60%;
    }

}
