.recipe{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height:400vh;
    overflow: hidden;
    @include tablet{
    height:160vh;
    grid-area: recipe;

    }
    @include desktop{
    }
}

.recipe__ingredients{
    @include styleTitle;
    text-align: center;
    flex-basis: 5%;
}